<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title> </title>
</head>

<body>

	<section>

		<div class="d-flex justify-content-center" style="margin-top: 20vh;">
			<div class="subscribe">
				<p>Enter New Password</p>
				<form th:action="@{/change-password}" method="post">
					<input placeholder="New password here" required class="subscribe-input" name="newPassword"
						type="password">
					<br>
					<button type="submit" class="submit-btn border-0">Change Password</button>
				</form>
			</div>
		</div>

	</section>


</body>

</html>